.navbar {
    background-color: white; 
    padding: 0%;
  }

 img {
    max-width: 80%;
    max-height: 400px; 
    height: auto;
    display: block;
    margin: 20px auto;
    float: left;
    padding: 10px;
    border-radius: 15%;
 }
  
  h2 {
    color: blue; 
  }
  
  h3 {
    color:blue; 
  }

  body {
    font-family: serif;
    background-color: rgb(209, 204, 204);
  }
  
